.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: #181818;
    color: white;
    align-items: center;
    height: 100px;
}
.logo{
    /* background-color: antiquewhite; */
   
}
.nav-links{
    display: flex;
    width: 30%;
    margin-left: 30px;
    /* background-color: antiquewhite; */
    justify-content: space-between;
}