.nav-links{
    display: flex;
    justify-content: space-between;
    margin-left: -30%;
    /* background-color: blueviolet; */
}
.nav-menu-inside-links{
    display: none;
}
.logo{
    
}
.nav-menu-btn{
    display: flex;
    align-items: center;
}
.drawer-links{
    width: 30vw;
    height: 100vh;
    padding: 2rem 3rem;
}
.drawer-links h2{
    margin-top: 2rem;
}
.drawer-links p{
    margin-top: 2rem;
    font-size: 24px;
    font-weight: 300;
    font-family: "DM Sans_18pt-ExtraLight";

}
.cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    transition: 0.1s;
    transform: translate(-50%,-50%);
    z-index: 10000;
    pointer-events: none;
    mix-blend-mode: screen;
    background-color:#F17C24; /* Specify the cursor color */
}
.nav-links:hover ~ .cursor {
   transform: scale(5); 
}
.getInTouch-p{
    margin-top: 40px;
    font-size: 20px;
    font-weight: 300;
    font-family: "DM Sans_18pt-ExtraLight";
    color: rgb(110, 110, 110);

}

.connectdwb-p{
    margin-top: 3px !important;
    font-size: 20px;
    font-weight: 300;
    font-family: "DM Sans18ptLight";
    color: black;
    text-decoration: underline;
}