.Footer{
    min-width: 100%;
    height: 80vh;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Footer-list-content{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 80%;
    /* background-color: white; */
    margin-top: 3rem;
}
.footer-social-icons{
    width: 40%;
    color: white;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    /* background-color: white; */
}
.footer-Address{
    color: white;
    margin-left: 3rem;
}
.footer-Address h3{
    font-size: 26px;
    font-family: "DM Sans", sans-serif;

}
.footer-Address p{
    font-family: "DM Sans", sans-serif;

    width: 70%;
    font-size: 22px;
    margin-top: 1.2rem;
}
.footer-social-icons h3{
    font-size: 26px;
    font-family: "DM Sans", sans-serif;

}
.footer-social-icons p{
    font-family: "DM Sans", sans-serif;

    font-size: 20px;
    margin-top: 1rem;
}
.footer-social-icons p:hover{
    cursor: pointer;
}
.connect-dewebbox{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 80%;
}
.connect-dewebbox h1{
    
color: #F17C24;
font-size: 55px;
margin-top: 10px;
}
.connect-dewebbox h2{
    color: white;
    font-size: 40px;
    margin-top: 20px;
}
.footer-para{
    width: 90%;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    color: rgb(188, 187, 187);

}
.footer-para p{
    text-align: center;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
    margin: 1rem 0rem;

}
.footer-span{
    font-size: 16px;
    color: rgb(188, 187, 187);
    margin-left: 5px;
}
