/* ScrollToTopButton.css */

.progress {
  position: fixed;
  bottom: 100px;
  right: 100px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
}

.progress-value {
  display: block;
  height: calc(100% - 5px);
  width: calc(100% - 5px);
  background-color: #181818;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #262626;
}
.custom-upwardarrow{
  font-size: 3rem !important; /* Adjust the font size to increase the arrow size */
  color: white; 
}
