.Clientreview {
    width: 100%;
    height: 90vh;
    background-color: #181818;
    display: flex;
}

.reviewleft {
    width: 50%;
    height: 100%;
    padding: 50px;
    color: white;
    /* background-color: rgb(142, 255, 217); */
}
.reviewleft-firstbox h2{
    font-size: 40px;
}
.reviewleft-secondbox{
    width: 35%;
    display: flex;
    color: white;
    justify-content: space-between;
}
.reviewright {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: rgb(211, 124, 254); */
    overflow: hidden;
}

.reviewscollar {
    width: 100%;
    height: 70%;
    background-color: #181818;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 20px 0px;
    overflow: hidden;
}

.reviews {
    width: 80%;
    padding: 40px 0px;
    background-color: white;
    animation: scrollAnimation 20s linear infinite;
}


@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-100% * 3)); /* Adjust this value based on the number of reviews you have */
    }
}
